<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="style.css">
        <title>JejeStore</title>
    </header>
    <body>
        <div class=grid-container>
            <header class=header> 
                <div class="brand">
                    <a href="index.html">JejeStore</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Carrinho</a>
                    <a href="signin.html">Entrar</a>
                </div>
            </header>
            <main class="main">
                <ul>
                    <li>Produto 1</li>
                    <li>Produto 2</li>
                    <li>Produto 3</li>
                    <li>Produto 4</li>
                </ul>
            </main>
            <footer class="footer">
                Todos os direitos reservados.
            </footer>
        </div>
    </body>
</html>